$bs: 0 4px 4px rgba(0, 0, 0, 0.25);
$bs-light: 0 2px 4px rgba(0, 0, 0, 0.25);
$br-sm: 5px;
$br-lg: 10px;
$br-round: 50%;


$center: center;
$fs: flex-start;
$fe: flex-end;
$sb: space-between;
$sa: space-around;
$se: space-evenly;

//$bg: #438B9B;
$bg: #d5dadb;




