$bs: 0 4px 4px rgba(0, 0, 0, 0.25);
$bs-light: 0 2px 4px rgba(0, 0, 0, 0.25);
$br-sm: 5px;
$br-lg: 10px;
$br-round: 50%;


$center: center;
$fs: flex-start;
$fe: flex-end;
$sb: space-between;
$sa: space-around;
$se: space-evenly;

$bg: #438B9B;

// main sections
// $nav-light: #ffffff;
// $nav-dark: #2F3740;

// $header-light: #ffffff;
// $header-dark: #333C46;

// $main-light: #E6EBF0;
// $main-dark: #2F3740;

// $light-text: #ffffff;
// $dark-text: #000000;


// //grayscales
// $gray-light: #686D73;
// $gray-dark: #2F3436;

// $button-light: #E0E0E0;
// $button-dark: rgba(#FFFFFF, .2);

// $input-light: #ECECEC;
// $input-dark: rgba(#FFFFFF, .2);

// $link-blue: #2C82FF;



