.activity-links {
    margin: auto;
    height: 100%;
    @include flex(row, nowrap, center, center);
    display: none;
        & li {
            margin: 0 3px;
            @include size(95%, 45px);
            @include flex(row, nowrap, center, center);
            padding: 10px;
            border-radius: 5px;
            transition: color .5s, background .2s;
            cursor: pointer;
                &:hover {
                    background: var(--button-bg);
                }
                &:hover svg {
                    color: var(--gray-dark);
                }
        }
        & svg {
            color:var(--gray-light);
            width: 100%;
            transition: .5s;
            pointer-events: none;
        }

        
}

.dark nav .activity-links svg {
    color: white;
}

@media (min-width: 600px) {
    .activity-links {
        display: flex;
    }
}
@media (min-width: 768px) {
    .activity-links li {
        margin: 0 20px;
    }
}